@use "../Utils/mixins";
@use "../Utils/variables";
.explorer {
  text-align: center;
  background-color: variables.$background;
  padding: 2rem;
  @include mixins.flex-container($alignment: center);
  gap: 0.5rem;
  &__subtitle {
    font-weight: 300;
  }
  &__btn {
    @include mixins.gradient-button;
  }
}
