@use "../Utils/variables";
@use "../Utils/mixins";
@use "../Utils/include-media";

.footer {
  @include mixins.flex-container;
  color: white;
  background-color: variables.$third-background;
  padding: 1em;
  font-size: 1em;

  &__title {
    font-family: "Shrikhand";
    padding: 0.5em 0;
  }

  &__link {
    padding: 0.3em;
  }
  &__link i {
    width: 1.5em;
  }
}
