@use "../Utils/mixins";
@use "../Utils/include-media";

.footer {
  @include mixins.flex-container;
  color: white;
  background-color: #353535;
  padding: 1rem;

  &__title {
    font-family: "Shrikhand";
    font-size: 1rem;
    padding-bottom: 1rem;
    @include include-media.media(">desktop", "<=3840px") {
      font-size: larger;
    }
  }
  &__link {
    padding: 0.3rem;
  }
  &__link i {
    width: 1.5rem;
  }
}
