@use "../Utils/mixins";
#loader {
  position: fixed;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: loader 200ms 3s forwards;
  transform-origin: top;
  @include mixins.flex-container(
    $direction: null,
    $justify: center,
    $alignment: center
  );
}
#loader__svg {
  width: 15rem;
}
.loader__smoke {
  $numberOfItems: 3;
  @for $i from 1 through $numberOfItems {
    &:nth-child(#{$i}) {
      animation-delay: 100ms * $i;
    }
  }
  animation: smoke 1s 3;
  animation-fill-mode: backwards;
}
