@use "../Utils/mixins";
@use "../Utils/include-media";
.locale {
  background-color: #eaeaea;
  @include mixins.flex-container($direction: row, $justify: center);
  gap: 0.5rem;
  padding: 1rem;
  > * {
    font-size: 15px;
    @include include-media.media(">desktop") {
      font-size: 20px;
    }
  }
}
