@use "../Utils/variables";
@use "../Utils/mixins";
@use "../Utils/include-media";
.locale {
  background-color: variables.$second_background;
  @include mixins.flex-container($direction: row, $justify: center);
  gap: 1em;
  padding: 0.6em;
  font-size: 0.8em;
  > * {
    @include include-media.media(">desktop") {
      font-size: 1.55em;
    }
  }
}
