@use "../Utils/variables";
@use "../Utils/mixins";

.restaurant {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  gap: 2rem;
}
.badge::before {
  content: "Nouveau";
  background-color: variables.$third_color;
  color: darken($color: variables.$third_color, $amount: 50%);
  position: absolute;
  right: 2rem;
  top: 1rem;
  padding: 0.5rem;
}

.card {
  border-radius: 1rem;
  overflow: hidden;
  @include mixins.button-shadow;
  position: relative;
  &__img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: 0px -60px;
  }
  &__heading {
    background-color: variables.$but-font-color;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
  }

  &__title {
    font-size: 1rem;
  }
  &__subtitle {
    font-weight: 300;
    font-size: 0.8rem;
    padding: 0.5rem 0;
  }
}
#gradient {
  --heart-primary-color: #9356dc;
  --heart-second-color: #ff79da;
}
.btn__like {
  &--empty {
    position: absolute;
    right: 1rem;
    top: 1.5rem;
  }
  &--full {
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    opacity: 0;
    transition: all 600ms;
  }
  &--full:hover {
    opacity: 1;
    fill: url(#gradient);
  }
}
