@use "../Utils/variables";
@use "../Utils/mixins";
@use "../Utils/include-media";
.restaurant {
  @include mixins.flex-container;
  padding: 2em 1em;
  gap: 2em;
  @include include-media.media(">tablet") {
    @include mixins.flex-container(
      $direction: row,
      $justify: space-evenly,
      $wrap: wrap
    );
    @include include-media.media(">tv") {
      gap: 5em;
    }
  }
  &__title {
    @include include-media.media(">tablet") {
      width: 100%;
    }
  }
}
.badge::before {
  content: "Nouveau";
  background-color: variables.$third_color;
  color: darken($color: variables.$third_color, $amount: 50%);
  position: absolute;
  right: 2em;
  top: 1em;
  padding: 0.5em;
}

.card {
  border-radius: 1em;
  overflow: hidden;
  @include mixins.button-shadow;
  position: relative;
  @include mixins.flex-container;
  @include include-media.media(">tablet") {
    width: 45%;
  }
  &__img {
    width: 100%;
    height: 13em;
    object-fit: cover;
    @include include-media.media(">1280px") {
      height: 20em;
    }
  }

  &__title {
    padding: 0.5em 0.5em 0;
  }
  &__subtitle {
    font-weight: 300;
    padding: 0 0.5em 1em;
  }
}

.btn-like {
  @include mixins.button-like;
}
