@use "../Utils/variables";
@use "../Utils/mixins";
@use "../Utils/include-media";
.tuto {
  counter-reset: steps;
  margin: 2em 1em;
  &__list {
    @include mixins.flex-container();
    margin: 1em 0;
    @include include-media.media(">desktop") {
      @include mixins.flex-container(row, space-evenly);
    }
  }

  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: variables.$primary-background;
    padding: 1.5em 2em;
    border-radius: 1.5em;
    margin: 1em 0.5rem;
    @include include-media.media(">desktop") {
      width: 30%;
      max-width: 1000px;
    }
    @include mixins.button-shadow;
    &::before {
      content: counter(steps);
      counter-increment: steps;
      color: white;
      background-color: variables.$primary_color;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: absolute;
      left: -0.7em;
      height: 1.5em;
      width: 1.5em;
    }
    &:hover {
      background-color: lighten(variables.$primary_color, 35%);
      i::before {
        color: variables.$primary_color;
      }
    }
    & i.fas {
      margin-right: 1em;
      color: variables.$third-background;
      font-size: 1.5em;
    }
  }
}
