@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  text-align: center;
  box-shadow: 0 0 0.5rem #cecece;
  font-family: "Shrikhand";
  font-size: small;
  padding: 0.5rem;
  position: relative;
}

.local {
  background-color: #eaeaea;
  justify-content: center;
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
}
.local > * {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explorer {
  text-align: center;
  background-color: #f6f6f6;
  padding: 3rem;
}
.explorer__subtitle {
  font-weight: 300;
}
.explorer__btn {
  color: white;
  font-weight: bold;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  transition: transform 200ms;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 0px 10px 20px 0px rgba(151, 144, 144, 0.7);
  -webkit-box-shadow: 0px 10px 20px 0px rgba(151, 144, 144, 0.7);
  -moz-box-shadow: 0px 10px 20px 0px rgba(151, 144, 144, 0.7);
  background: linear-gradient(to top, #9356dc, #ff79da);
}
.explorer__btn:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.tuto {
  counter-reset: steps;
  margin: 0.5rem;
}
.tuto__list {
  display: flex;
  flex-direction: column;
}
.tuto__btn {
  position: relative;
  display: flex;
  align-items: center;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  border-radius: 1.5rem;
  margin: 1rem 2rem;
  box-shadow: 0px 10px 20px 0px rgba(151, 144, 144, 0.7);
  -webkit-box-shadow: 0px 10px 20px 0px rgba(151, 144, 144, 0.7);
  -moz-box-shadow: 0px 10px 20px 0px rgba(151, 144, 144, 0.7);
}
.tuto__btn::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  left: -0.7rem;
  height: 1.5rem;
  width: 1.5rem;
}
.tuto__btn:hover {
  background-color: #f2eafb;
}
.tuto__btn:hover i::before {
  color: #9356dc;
}
.tuto__btn i.fas {
  margin-right: 1rem;
  color: lightgray;
  font-size: 1.5rem;
}

.restaurant {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  gap: 2rem;
}

.badge::before {
  content: "Nouveau";
  background-color: #99e2d0;
  color: #1b6150;
  position: absolute;
  right: 2rem;
  top: 1rem;
  padding: 0.5rem;
}

.card {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 10px 20px 0px rgba(151, 144, 144, 0.7);
  -webkit-box-shadow: 0px 10px 20px 0px rgba(151, 144, 144, 0.7);
  -moz-box-shadow: 0px 10px 20px 0px rgba(151, 144, 144, 0.7);
  position: relative;
}
.card__img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
}
.card__heading {
  background-color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
}
.card__title {
  font-size: 1rem;
}
.card__subtitle {
  font-weight: 300;
  font-size: 0.8rem;
  padding: 0.5rem 0;
}

#gradient {
  --heart-primary-color: #9356dc;
  --heart-second-color: #ff79da;
}

.btn__heart {
  position: absolute;
  right: 0.5rem;
  top: 1rem;
}
.btn__heart--full {
  position: absolute;
  right: 0.5rem;
  top: 1rem;
  opacity: 0;
  transition: all 600ms;
}
.btn__heart--full:hover {
  opacity: 1;
  fill: url(#gradient);
}

.footer {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #353535;
  padding: 1rem;
}
.footer__title {
  font-family: "Shrikhand";
  font-size: 1rem;
  padding-bottom: 1rem;
}
.footer__link {
  padding: 0.3rem;
}
.footer__link i {
  width: 1.5rem;
}

.menu__img {
  max-width: 100%;
}
.menu__contener {
  background-color: #f6f6f6;
  border-radius: 2rem;
  width: 100%;
  padding: 1rem;
}
.menu__title {
  font-family: "Shrikhand";
}
.menu__subtitle {
  font-weight: 300;
  position: relative;
  padding: 1rem 0;
}
.menu__subtitle::after {
  content: "";
  background: #99e2d0;
  width: 3rem;
  height: 0.2rem;
  position: absolute;
  top: 40px;
  left: 0;
}

.menu-card {
  padding: 0.5rem 4rem 0.5rem 0.5rem;
  background-color: white;
  margin: 2rem 0;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  position: relative;
}
.menu-card__subcontent {
  font-weight: 300;
  padding: 0.5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-card__price {
  margin-left: auto;
  position: absolute;
  right: 25px;
  bottom: 15px;
  font-weight: 700;
}
.menu-card__price::after {
  content: "test";
  width: 100%;
  position: absolute;
  left: 3rem;
}

/*# sourceMappingURL=style.css.map */
