@use "../Utils/variables";
@use "../Utils/mixins";
@use "../Utils/animations";
@use "../Utils/include-media";

.menu {
  background-color: variables.$primary-background;
  &__img {
    width: 100%;
    height: 18em;
    object-fit: cover;
    @include include-media.media(">desktop") {
      height: 25em;
    }
  }
  &__contener {
    background-color: variables.$primary-background;
    border-radius: 2em;
    width: 100%;
    padding: 1em;
    position: relative;
    margin-top: -4em;
    @include mixins.flex-container;
    gap: 1em;
    @include include-media.media(">tablet") {
      @include mixins.flex-container(
        $direction: row,
        $justify: center,
        $wrap: wrap
      );
    }
    @include include-media.media(">desktop") {
      padding: 2em;
    }
    @include include-media.media(">tv") {
      gap: 3em;
      padding: 2.5em;
    }
  }
  &__title {
    margin-top: 1em;
    font-family: "Shrikhand";
    position: relative;
    @include include-media.media(">tablet") {
      width: 100%;
    }
  }

  &__subtitle {
    font-weight: 300;
    position: relative;
    padding: 1em 0;
    @include include-media.media(">tablet") {
      width: 100%;
    }
  }
  &__subtitle::after {
    content: "";
    background: variables.$third_color;
    width: 3em;
    height: 0.2em;
    position: absolute;
    top: 2.5em;
    left: 0;
  }
  &__command {
    margin: 0 2em;
    @include mixins.flex-container($direction: null, $alignment: center);
  }
  &__btn {
    @include mixins.gradient-button;
    margin: 2em auto;
  }
}

.menu-card {
  $numberOfItems: 10;
  @for $i from 1 through $numberOfItems {
    &:nth-of-type(#{$i}) {
      animation-delay: 200ms * $i;
    }
  }
  background-color: variables.$but-font-color;
  border-radius: 1em;
  overflow: hidden;
  display: flex;
  cursor: pointer;
  animation: appear 1s;
  animation-fill-mode: both;
  @include mixins.button-shadow;
  @include include-media.media(">tablet") {
    width: 44%;
    margin: 1em;
  }
  @include include-media.media(">desktop") {
    width: 45%;
    margin: 0;
  }
  @include include-media.media(">tv") {
    width: 32%;
  }
  &__heading {
    @include mixins.flex-container;
    gap: 0.5em;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    padding: 1em 0.5em;
  }
  &__content,
  &__subcontent {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__subcontent {
    font-size: 0.75em;
  }
  &__price {
    font-weight: 700;
    @include mixins.flex-container($direction: null, $alignment: end);
    padding: 1em 0.6em;
  }

  &__check {
    background-color: variables.$third_color;
    @include mixins.flex-container(
      $direction: null,
      $alignment: center,
      $justify: center
    );
    margin-right: -5em;
    width: 5em;
    transition: all 0.5s;
  }

  &:hover .menu-card__check {
    margin-right: 0;
  }
  &__icon {
    color: white;
    font-size: 1.5em;
    @include mixins.flex-container(
      $direction: null,
      $alignment: center,
      $justify: center
    );
  }

  &:hover .menu-card__icon {
    animation: checked 0.5s ease-in-out;
  }
}

.btn-like.btn-like--page {
  top: 1.8em;
  right: 1.5em;
  @include include-media.media(">desktop") {
    top: 2.5em;
    right: 2.5em;
  }
  @include include-media.media(">tv") {
    top: 2.7em;
    right: 4em;
  }
}
