@use "./variables";

@keyframes loader {
  to {
    transform: scale(0);
  }
}
@keyframes smoke {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.1rem);
  }
  75% {
    opacity: 0;
    transform: translateY(-0.1rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes checked {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes like {
  0% {
    opacity: 0;
  }

  50% {
    background: linear-gradient(
      to bottom,
      variables.$primary_color,
      variables.$second_color
    );
    -webkit-background-clip: text;
    opacity: 0.5;
  }

  100% {
    background: linear-gradient(
      to bottom,
      variables.$primary_color,
      variables.$second_color
    );
    -webkit-background-clip: text;
  }
}
