@use "./variables";

@mixin flex-container(
  $direction: column,
  $justify: null,
  $alignment: null,
  $wrap: null
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $alignment;
  flex-wrap: $wrap;
}

@mixin gradient($opacity: 0.9) {
  background-image: linear-gradient(
    to top,
    variables.$primary_color,
    variables.$second_color
  );
}

@mixin button-shadow {
  box-shadow: 0px 10px 20px 0px rgba(151, 144, 144, 0.7);
  -webkit-box-shadow: 0px 10px 20px 0px rgba(151, 144, 144, 0.7);
  -moz-box-shadow: 0px 10px 20px 0px rgba(151, 144, 144, 0.7);
}

@mixin gradient-button {
  color: white;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  transition: transform 200ms;
  margin-top: 1rem;
  cursor: pointer;
  @include button-shadow;
  @include gradient;
  &:hover {
    transform: scale(1.02);
    opacity: 0.9;
  }
}
@mixin button-like {
  position: absolute;
  right: 1rem;
  bottom: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;

  & input[type="checkbox"]:checked ~ .unchecked {
    display: none;
  }

  & input[type="checkbox"]:checked ~ .checked {
    display: inline-block;
    color: rgba(255, 255, 255, 0);
  }

  & input[type="checkbox"],
  & .checked {
    display: none;
    animation: like 2s;
    animation-fill-mode: forwards;
  }
}
